<%layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-6 offset-md-3" >
        <p class="h2">Edit personal info</p>
        <form action="/friends/<%= profile._id %>?_method=PUT" method="POST" novalidate class="validated" enctype="multipart/form-data">

            <div class="mb-1 input-group-sm">
                <label class="form-label"><b>Description</b></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Profile[description]"><%= profile.description %></textarea>
                <div class="invalid-feedback">
                    Required
                </div>
            </div>
            <div class="mb-1 input-group-sm">
                <label class="form-label"><b>Phone no</b></label>
                <div class="input-group mb-3">
                    <span class="input-group-text">&#x260E</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                        name="Profile[phone]" min="0" value="<%=profile.phone %>" required >
                    <div class="invalid-feedback">
                        is not valid
                    </div>
                </div>
            </div>
            <div class="mb-1 input-group-sm">
                <label class="form-label"><b>Gender</b></label>
                <input type="text" class="form-control" name="Profile[Gender]" value="<%= profile.Gender %> " required>
                <div class="invalid-feedback">
                    Required
                </div>
            </div>

            <div class="mb-3">
                <label for="formFileSm" class="form-label"><b>Change profile image</b> (don't touch if you don't want to change)</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file" name="Profile[image]" single>
            </div>

            <div class="mb-1 input-group-sm">
                <label class="form-label"><b>Date of Birth</b></label>
                <input type="date" class="form-control" name="Profile[dateOfBirth]" value="<%= profile.dateOfBirth %>" required>
                <div class="invalid-feedback">
                    Required
                </div>
            </div>
            <button type="submit" class="btn btn-info mb-2">Add profile</button>

      </form>
</div>
</div>
