<%layout('layouts/boilerplate') %> 
   
<h1>Your Profile</h1>

    <div class="col-md-6 offset-md-3" >
        <div class="card m-2 d-inline-block" style="width: 27rem;">
            <img src="<%= profile.image.url %> " alt="" class="card-img-top">

            <div class="card-body">
                <h4 class="card-title"><%= currentUser.username %> </h4>
                <p class="card-text" style="font-size: large;"><b>Description : </b><%= profile.description %> </p>
                <p class="card-text" style="font-size: large;"><b>Phone : </b><%= profile.phone %> </p>
                <p class="card-text" style="font-size: large;"><b>Email : </b><%= currentUser.email %></p>
                <p class="card-text" style="font-size: large;"><b>Gender : </b><%= profile.Gender %></p>
                <p class="card-text" style="font-size: large;"><b>Posts : </b><%= profile.postsNo %></p>
                <p class="card-text" style="font-size: large;"><b>Followers : </b><%= profile.followers %></p>
                <p class="card-text" style="font-size: large;"><b>Following : </b><%= profile.following %></p>
                <p class="card-text" style="font-size: large;"><b>Date Of Birth : </b><%= profile.dateOfBirth %></p>
                <a href="/room/<%= profile._id %> " class="btn btn-warning"> Edit</a>
              </div>
</div>
</div>
