<%layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-3" style="width: 25rem;">
                <img class="card-img-top" src="<%= room.image %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= room.title %>
                    </h5>
                    <p class="card-text">
                        <%= room.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= room.location %>
                    </li>
                    <li class="list-group-item">submitted by <%= room.author.username %> </li>
                    <li class="list-group-item">$<%= room.price %>/month </li>

                </ul>
                <% if(currentUser && room.author.equals(currentUser._id)) {%> 
                <div class="card-body">
                    <form action="/room/<%= room._id %>/edit" class="d-inline">
                        <button type="submit" class="btn btn-warning btn-sm mt-2">Edit</button>
                    </form>
                    <form action="http://localhost:5000/room/<%= room._id %>/delete?_method=DELETE" method="post"
                        class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm mt-2">Delete</button>
                    </form>
                </div>
                <% } %> 
            </div>
         
        </div>
        <div class="col-lg-6 col-md-8">
            <h2>Leave a review</h2>
            <div>
            <form action="http://localhost:5000/room/<%= room.id %>/review" method="post" class="mb-3 validated" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" min='1' max="5" name="review[rating]">
                </div>
                <div class="mb-3">
                   <label class="form-label" for="review">Review</label>
                    <textarea class="form-control" name="review[body]" id="review" cols="3" rows="3" required></textarea>
                    <div class="invalid-feedback">
                        write something before submit
                    </div>
                </div>
                <button class="btn btn-success">Add review</button>
            </form>
            <%for(let review of room.reviews){ %>
            <div class="mb-2 card">
              <div class="card-body">
                     <h5 class="card-title">Rating: <%= review.rating %> </h5>
                     <p class="card-text">Rating: <%= review.body %> </p>
                     <form action="/room/<%= room.id %>/review/<%= review.id %>?_method=DELETE" method="post">
                          <button class="btn btn-danger btn-sm">Delete</button>                    
                    </form>
              </div>
              </div>
                <% } %>  
            </div>
        </div>
    </div>