<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= product.name %> </h1>
    <ul>
        <li>Price: <%= product.price %> </li>
        <li>Categoty:<a href="http://localhost:1000/products?category=<%= product.category %> "><%= product.category %> </a></li>
    </ul>
    <a href="http://localhost:1000/products/<%= product.id %>/edit">Edit-product</a>
    <a href="http://localhost:1000/products">All Products</a>
    <form action="http://localhost:1000/products/<%=product.id%>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
</body>
</html>